@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans');
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");


body {
  font-family: 'Muli', sans-serif;
  background-color: rgba(240, 240, 240, .5);
  font-size: 18px;
}

h1 {
  line-height: 50px;
  font-size: 32px;
  color: #686868;
  font-weight: 2000;
  margin: 0px;

}

h2 {
  line-height: 40px;
  color: #6D72C3;
  font-weight: 250;
  font-size: 26px;

}

p {
  color: #686868;
}

.divider {
  margin: 40px;
}


a {
  text-decoration: none !important;
  color: #0B3C49;
}

i {
  font-size: 28px
}

.btn-green  {
  font-weight: bolder;
  background-color: #0B3C49;
  padding: 12px 22px;
  color: white;
  border: 1px solid #0B3C49 ;
  border-radius: 5px;
  font-size: 16px;
}

a:hover {
  color:   #6D72C3;
  border-bottom: 2px solid #6D72C3;
}


@media (max-width: 2000px) {
  }
  .card-custom {
    width: 800px;
    text-align: center;
    background-color: #FFF;
    padding: 50px;
    margin: 30px auto;
    border-radius: 5px;
  }
}

@media (max-width: 720px) {
  .card-custom {
    width: 500px;
    text-align: center;
    background-color: #FFF;
    padding: 40px;
    margin: 20px auto;
    border-radius: 5px;
  }
}

@media (max-width: 540px) {
  .card-custom {
    width: 300px;
    text-align: center;
    background-color: #FFF;
    padding: 30px;
    margin: 10px auto;
    border-radius: 5px;
 }
}

.avatar {
  border-radius: 50%;
  box-shadow: 0px 0px 0px #686868;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.card-img-overlay {
  opacity: 0;
}

.card {
  border: none;
}

.card-img-overlay:hover {
  opacity: .6;
  background-color: #686868;
}

